# ===========================
# Python
# ===========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyd
*.so

# Entornos virtuales
env/
.venv/
venv/
ENV/

# Archivos de configuración temporales
*.log

# ===========================
# Herramientas/IDEs
# ===========================
.vscode/
.idea/

# ===========================
# macOS
# ===========================
.DS_Store

# ===========================
# Tests
# ===========================
.coverage
htmlcov/
.pytest_cache/

# ===========================
# Pip / Cache
# ===========================
pip-wheel-metadata/
pip-log.txt

# ===========================
# Otros
# ===========================
*.swp
*.swo
